$body-bg: #2F575D;
$primary: #E8CC98;
$secondary: #A09985;
$danger: #EB5757;
$success: #B5E19D;
$warning: #FF7F50;
$info: #6D9197;
$dark: #403E3E;
$light: #F6FFF3;
$one: #6D9197;
$two: #2F575D;
$three: #F6FFF3;
$four: #99AEAD;